# Ignore Eclipse-related files and directories
*.metadata/
*.project
*.classpath
*.DS_Store

# Ignore compiled Java class files
*.class

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Maven-related files and directories
target/
*.iml
*.iws

# Ignore Visual Studio project files
.vs/

# Ignore Node.js modules
node_modules/

# Ignore macOS system files
.DS_Store

# Ignore generated documentation
docs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
